<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lx.com.kocoa"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_applogo"
        android:label="KoCoA!"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kocoa"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ManageReview"
            android:exported="false" />
        <activity
            android:name=".BookcheckActivity"
            android:exported="false" />
        <activity
            android:name=".EditReviewActivity"
            android:exported="false" />
        <activity
            android:name=".QuizMainActivity"
            android:exported="false" />
        <activity
            android:name=".FestivalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MonthFestivalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".RouteActivity"
            android:exported="false" />
        <activity
            android:name=".StampActivity"
            android:exported="false" />
        <activity
            android:name=".PassBookingActivity"
            android:exported="false" />
        <activity
            android:name=".FespassActivity"
            android:exported="false" />
        <activity
            android:name=".SancheonuActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".PointShopActivity"
            android:exported="false" />
        <activity
            android:name=".FestInforStatusActivity"
            android:exported="false" />
        <activity
            android:name=".BbsActivity"
            android:exported="false" />
        <activity
            android:name=".BbsViewActivity"
            android:exported="false" />
        <activity
            android:name=".BbsWriteActivity"
            android:exported="false" />
        <activity
            android:name=".RankingActivity"
            android:exported="false" />
        <activity
            android:name=".MiniGameActivity"
            android:exported="false" />
        <activity
            android:name=".SHWMainActivity"
            android:exported="false" />
        <activity
            android:name=".JejuActivity"
            android:exported="false" />
        <activity
            android:name=".JunraActivity"
            android:exported="false" />
        <activity
            android:name=".BusanActivity"
            android:exported="false" />
        <activity
            android:name=".ChungcheongActivity"
            android:exported="false" />
        <activity
            android:name=".GangwonActivity"
            android:exported="false" />
        <activity
            android:name=".SeoulActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".QuizEndActivity"
            android:exported="false" />
        <activity
            android:name=".QuizGameActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="mu07smaqre" />
    </application>

</manifest>